<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="CrmVersion" value="9" />
    <add key="AuthType" value="0" />
    <add key="ServerAddress" value="kdi.kcenter.com" />
    <add key="PortNumber" value="444" />
    <add key="OrgName" value="kdi" />
    <add key="UseSSL" value="true" />
    <add key="UserName" value="crmadmin" />
    <add key="Password" value="Dynamics365" />
    <add key="DomainName" value="kcenter" />
    <add key="WebAPIServiceUrl" value="http://petitserver:5555/kdi/api/data/v9.0/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
